@import '../../keyframes';
@import '../../mixins';
@import '../../variables';

.quill {
  width: 100%;
}

.ql-toolbar {
  border-radius: $radius-lg $radius-lg 0 0;
  border: 2px solid $light !important;
}

.ql-container {
  border-radius: 0 0 $radius-lg $radius-lg;
  height: 250px !important;
  width: 100%;
  border: 2px solid $light !important;
}
