// fonts
$primary-font: 'Poppins';

// color palette
$primary-color: #3876e9;
$white: #fff;
$light: #f0f6f6;
$dark-grey: #495057;
$light-grey: #eee;
$red: #ff4365;
$green: #07beb8;
$orange: #fb8500;

//box-shadow
$shadow: 0 2px 5px transparentize($dark-grey, 0.8);

// radius
$radius-sm: 3px;
$radius-md: 5px;
$radius-lg: 10px;
$radius-circle: 50%;

// media query breakpoints
