@import '../keyframes';
@import '../mixins';
@import '../variables';
@import '../typography';

.repo {
  width: 100%;
  height: auto;

  &__wrapper {
    width: 60%;
    margin: 0 auto;

    h1 {
      font-size: 2rem;
      margin: 1rem 0;
      color: $dark-grey;
      text-transform: capitalize;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .repo {
    &__wrapper {
      width: 90%;

      h1 {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .repo {
    &__wrapper {
      width: 80%;

      h1 {
        text-align: center;
      }
    }
  }
}
