@import '../keyframes';
@import '../mixins';
@import '../variables';
@import '../typography';

.issueform {
  margin: 1rem 0;
  @include flex(column, flex-start, flex-end);

  .btn {
    width: 20%;
    margin: 0.5rem 0;

    &__submitissue {
      background: $primary-color;
      color: $white;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .issueform {
    .btn {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .issueform {
    .btn {
      width: 30%;
    }
  }
}
