@import '../keyframes';
@import '../mixins';
@import '../variables';
@import '../typography';

.issueform {
  margin: 1rem 0;
  @include flex(column, flex-start, flex-end);

  .btn {
    width: 20%;
    height: 2.5rem;
    border-radius: $radius-md;

    &__submitissue {
      background: $primary-color;
      color: $white;
    }
  }
}
