@import '../keyframes';
@import '../mixins';
@import '../variables';
@import '../typography';

.languages {
  width: 100%;
  height: auto;

  &__wrapper {
    @include grid(15, 5px);

    &--badge {
      padding: 10px;
      color: $primary-color !important;
      background: lighten($primary-color, 35%) !important;
      border-radius: $radius-lg !important;
      text-transform: capitalize !important;
      font-weight: 400 !important;
      box-shadow: none !important;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .languages {
    &__wrapper {
      @include grid(5, 5px);

      &--badge {
        border-radius: $radius-md !important;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .languages {
    &__wrapper {
      @include grid(10, 5px);

      &--badge {
        border-radius: $radius-md !important;
      }
    }
  }
}
