@import '../keyframes';
@import '../mixins';
@import '../variables';
@import '../typography';

.search {
  height: 3rem;
  width: 100%;
  position: relative;
  margin: 1rem 0;

  form {
    height: 100%;
    width: 100%;
    @include flex(row, flex-start, center);

    .formgroup {
      width: 40%;
      position: relative;
    }

    .btn {
      margin-left: 1rem;
      height: 3rem;
      &__submit {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .search {
    form {
      .formgroup {
        width: 70%;
      }

      .btn {
        width: 30%;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .search {
    form {
      .formgroup {
        width: 70%;
      }

      .btn {
        width: 30%;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .search {
    form {
      .formgroup {
        width: 60%;
      }

      .btn {
        width: 30%;
      }
    }
  }
}
