@import '../keyframes';
@import '../mixins';
@import '../variables';
@import '../typography';

.userrepos {
  width: 100%;
  height: auto;
  position: relative;

  h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: $dark-grey;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    @include grid(4, 1rem);
  }
}
